# 自定义项目目录
.agents/
data/
venv/
agent-docs/
/quant_runtime/runtime
/.codex-bug-assets



# Python 通用缓存、编译文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# test files
tests/
.tmp/




# npm 缓存文件
node_modules/
*.tsbuildinfo

# local runtime logs
*.log
quant_vnpy/runtime/

# VSCode 编辑器配置
.vscode/
*.swp
*.swo
.DS_Store

